<div class="container">
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <h1>Welcome to Kaffy</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <h4>Kaffy is designed to be a simple and easy to use admin interface for phoenix applications.</h4>
        </div>
    </div>
</div>
