/*!
 * custom Kaffy Css
 */

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: calc(4.375rem - 40px);
    max-width: 100%;
    height: 28px;
    margin: auto;
}

.sidebar .nav .nav-item:hover {
    background: #1240c4;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.5rem 0.81rem;
    margin: 0.2rem;
}


.table .thead-dark th {
    color: #fff;
     background-color: #4e73df;
     border-color: #4f64a1;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.02);
}

.index-table-footer {
    margin-top: 20px;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background: -webkit-gradient(linear, left top, right top, from(#559bd8), to(#559bd8));
    background: linear-gradient(to right, #4e73df, #4e73df);
    color: #b4c2ec;
}

/* flatpickr */
.flatpickr-input[readonly] {
    cursor: pointer;
    background-color: #ffffff;
}

/* Would need to overwrite our purple admin template with the bellow */

/* improve style of the datetime picker */
/* Should be updated in _form.scss */
.input-group-append .input-group-text, .input-group-prepend .input-group-text {
    border-color: #ced4da;
    padding: 0.94rem 0.90rem;
    color: #c9c8c8;
    border-radius: 0.2125rem;
}

.input-group-prepend {
    margin-right: 0px;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
}

/* Make the custom select height bigger */
/* Should be updated in _custom_form.scss */
.custom-select {
    height: calc(2em + 0.75rem + 2px);
}

a.kaffy-order-field {
    cursor:pointer;
}