<form class="w-100">
    <div class="form-group row">
        <div class="col-md-11">
        <input type="text" value="<%= @search %>" name="search" class="form-control" id="search" placeholder="what are you searching for?">
        </div>
        <div class="col-md-1">
        <button type="submit" class="btn btn-primary mb-2">search</button>
        </div>
    </div>
</form>
