<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= Kaffy.Utils.title() %> - Kaffy</title>
        <link href="/kaffy/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link href="/kaffy/css/kaffy.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html"><%= Kaffy.Utils.title() %></a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
            ><!-- Navbar Search-->
            <%#
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            %>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <%#
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        %>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">

                            <div class="sb-sidenav-menu-heading">Main Links</div>

                            <%= link to: Kaffy.Utils.router().kaffy_home_path(@conn, :index), class: "nav-link" do %>
                                <div class="sb-nav-link-icon"><i class="fas fa-fw fa-tachometer-alt"></i></div>
                                <span>Dashboard</span>
                            <% end %>

                            <%= if not Enum.empty?(Kaffy.ResourceAdmin.tasks_info()) do %>
                                <li class="nav-item">
                                    <%= link to: Kaffy.Utils.router().kaffy_task_path(@conn, :index), class: "nav-link" do %>
                                        <div class="sb-nav-link-icon"><i class="fas fa-fw fa-tasks"></i></div>
                                        <span>Tasks</span>
                                    <% end %>
                                </li>
                            <% end %>

                            <%= for custom_link <- Kaffy.ResourceAdmin.collect_links(:top) do %>
                                <li class="nav-item">
                                    <%= link to: custom_link.url, class: "nav-link" do %>
                                        <div class="sb-nav-link-icon"><i class="fas fa-fw fa-link"></i></div>
                                        <span><%= custom_link.name %></span>
                                    <% end %>
                                </li>
                            <% end %>


                            <div class="sb-sidenav-menu-heading">Contexts</div>

                            <%= for context <- Kaffy.Utils.contexts() do %>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#<%= context %>" aria-expanded="false" aria-controls="<%= context %>">
                                    <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
                                        <%= Kaffy.Utils.context_name(context) %>
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="<%= context %>" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <%= for {resource, options} <- Kaffy.Utils.schemas_for_context(context) do %>
                                            <%= if Kaffy.ResourceAdmin.authorized?(options, @conn) do %>
                                                <%= link Kaffy.ResourceAdmin.plural_name(options), to: Kaffy.Utils.router().kaffy_resource_path(@conn, :index, context, resource), class: "nav-link", style: "white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" %>
                                                <%= for custom_link <- Kaffy.ResourceAdmin.custom_links(options, :sub) do %>
                                                    <%= link custom_link.name, to: custom_link.url, class: "nav-link", style: "white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" %>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    </nav>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <%= if get_flash(@conn, :info) do %>
                            <div class="alert alert-success"><%= get_flash(@conn, :info) %></div>
                        <% end %>
                        <%= if get_flash(@conn, :error) do %>
                            <div class="alert alert-danger"><%= get_flash(@conn, :error) %></div>
                        <% end %>

                        <%= if Kaffy.Utils.phoenix_1_4?() do %>
                            <%= render(@view_module, @view_template, assigns) %>
                        <% else %>
                            <%= @inner_content %>
                        <% end %>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Kaffy 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/kaffy/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/kaffy/js/demo/chart-area-demo.js"></script>
        <script src="/kaffy/js/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="/kaffy/js/ckeditor.js"></script>
        <script src="/kaffy/js/demo/datatables-demo.js"></script>
    </body>
</html>
