<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= Kaffy.Utils.title() %> - Kaffy</title>
    <link rel="stylesheet" href="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/vendors/fontawesome/css/all.css") %>">
    <link rel="stylesheet" href="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/vendors/css/vendor.bundle.base.css") %>">
    <link rel="stylesheet" href="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/scss/style.css") %>">
    <link rel="stylesheet" href="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/vendors/flatpickr/flatpickr.min.css") %>">
    <link rel="stylesheet" href="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/css/kaffy.css") %>">
    <link rel="shortcut icon" href="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/images/favicon/favicon-32x32.png") %>" />
    <%= for css <- Kaffy.Utils.extensions(@conn).stylesheets do %>
      <%= css %>
    <% end %>
    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/vendors/js/vendor.bundle.base.js") %>"></script>
  </head>
  <body>
    <div class="container-scroller">
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <%= link to: Kaffy.Utils.router().kaffy_home_path(@conn, :index), class: "navbar-brand brand-logo" do %>
            <img src="<%= Kaffy.Utils.logo(@conn) %>" alt="logo" />
          <% end %>
          <%= link to: Kaffy.Utils.router().kaffy_home_path(@conn, :index), class: "navbar-brand brand-logo-mini" do %>
            <img src="<%= Kaffy.Utils.logo_mini(@conn) %>" alt="logo" />
          <% end %>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="fas fa-bars"></span>
          </button>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="fas fa-bars"></span>
          </button>
        </div>
      </nav>

      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <%= if Kaffy.Utils.phoenix_version?("1.4.") do %>
              <%= render(@view_module, @view_template, assigns) %>
            <% else %>
              <%= @inner_content %>
            <% end %>
          </div>

          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 Kaffy. All rights reserved.</span>
            </div>
          </footer>

        </div>
      </div>
    </div>

    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/vendors/js/vendor.bundle.base.js") %>"></script>
    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/vendors/flatpickr/flatpickr.min.js") %>"></script>
    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/vendors/chart.js/Chart.min.js") %>"></script>
    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/vendors/js/ckeditor.js") %>"></script>
    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/js/off-canvas.js") %>"></script>
    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/js/hoverable-collapse.js") %>"></script>
    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/js/misc.js") %>"></script>
    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/js/phoenix_html.js") %>"></script>
    <script src="<%= Kaffy.Utils.static_asset_path(@conn, "/kaffy/assets/js/dashboard.js") %>"></script>
  </body>
</html>
